<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block bafford_simplecms_admin_content %}{% endblock %}
        </div>
    </body>
</html>
